.createCVContainer {
    height: 100%;
    padding: 82px;
    background: #f3f3f3;
}
.createCVTitle {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    /* Text */
    color: #090909;
    margin-bottom: 65px;
}
.formInputCreateCV {
    width: 70%;
}
.formFieldCreateCV {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formFieldCreateCV label {
    margin-right: 22px !important;
    width: 250px;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: right !important;
    color: #090909 !important;
}

.validate-error-message {
    display: flex !important;
    margin-bottom: 30px;
    justify-content: center !important;
    /* font-weight: 400 !important; */
    font-size: 20px !important;
    color: red !important;
}

.inputCV {
    width: 80% !important;
    height: 56px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 28px !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 35px;

    color: #000000;
}

.textContent {
    width: 80% !important;
    height: 100px !important;
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.formFieldCreateCV.contentForm {
    height: 100px !important;
}

.buttonSavePostCV {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 400px;
    margin: 50px 160px auto auto;
}
.buttonSaveCV {
    width: 137px;
    height: 50px;
    background: #090909 !important;
    border-radius: 20px !important;
    padding: 14px 20px !important;

    font-weight: 700;
    font-size: 20px !important;
    line-height: 24px;
    text-align: center;
    color: #ffffff !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.buttonPostCV {
    width: 137px;
    height: 50px;
    background: #ef6565 !important;
    border-radius: 20px !important;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 24px;
    text-align: center;
    color: #ffffff !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.tagKeyWordContainer {
    padding: 8px;
    width: 80%;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: #ffffff;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tagItem {
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 0 10px 10px 0;
}

.tagItem .iconClose {
    height: 20px;
    width: 20px;
    background-color: #000000;
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    font-size: 18px;
}

Input {
    border: none !important;
    outline: none;
    flex-grow: 1;
    padding: 8px 0;
}
