.updateCVContainer {
    width: 86%;
    height: 100vh;
}
.cardCV {
    background-color: #f3f3f3;
    height: 90%;
}
.cardCVInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cardCVInfoItem {
    width: 336px;
    height: 416px;
    background: #959595;
    border-radius: 67px;
    margin: 100px 20px;
    -webkit-border-radius: 67px;
    -moz-border-radius: 67px;
    -ms-border-radius: 67px;
    -o-border-radius: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgCV {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.buttonEditCV {
    width: 169px;
    height: 50px;
    background: #ef6565;
    border-radius: 19px;
    padding: 10px 40px;

    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
}
.dateCreateCV {
}
.created,
.dateCreate {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
}

.buttonCreateNewCV {
    width: 246px;
    height: 246px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ef6565;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconAddNewCV {
    color: #ffffff !important;
}
