.history {
    width: 86%;
    height: 100vh;
}

.historyInfo {
    background: #f3f3f3;
    padding: 83px 50px;
}

.historyContent {
    width: 80%;
    height: 216px;
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.imgHistory {
    width: 155px;
    height: 155px;
    background: #f3f3f3;
    border-radius: 40px;
    padding: 20px 30px;
}

.imgHistoryDetail {
    border-radius: 20px;
    margin-bottom: 20px;
}

.nameBranch {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}

.historyContentDetail {
    width: 50%;
}

.historyTitle {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.historyTime {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.buttonViewDetail {
    width: 150px;
    height: 49px;
    background: #959595;
    border-radius: 16px;
    padding: 12px 23px;
    cursor: pointer;
}

.textButtonViewDetail {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
}
